body {
  font-family: Calibri, sans-serif;
}

header h1 {
  text-align: center;
}

header#scores {
  width: 40%;
  margin: 0 auto;
  justify-content: space-evenly;
  display: none;
}

header div h2, div {
  text-align: center;
}

section {
  width: 100%;
  margin-top: 2em;
}

section#text-content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

button.start-btn {
  margin: 0 auto;
  display: block;
}

button.end-btn {
  display: none;
  margin: 0 auto;
  text-align: center;
}

main {
  margin-top: 2em;
  display: none;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

button {
  height: 100px;
  width: 200px;
  /*background-color: green;*/
  border-radius: 10px;
}
